@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_utilities';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/_variables';
// costum color
// styles.scss
$enable-responsive-font-sizes: true;
$custom-theme-colors:(
  "bluelight" :#98c5e9,
  "bluedark":rgb(0,24,56),
  "black": #222831,
  "grey": #393E46,
  "teal": #00ADB5,
  "space": #EEEEEE,
  "ungudark":#402E7A
);
// costum font

$font-size-root:14px;
// $h7-font-size:                $font-size-base  abs(-2) !default;
$costum-font-size:(
  7:$font-size-root - 2
);
$costum-opacity:(
  7:$font-size-root - 2
);

@include media-breakpoint-down(sm) {
  .sm-hidden {
    display: none;
  }
  .sm-fs-10{
    font-size: $font-size-root - 4;
  }
  .sm-fs-12{
    font-size: $font-size-root - 2;
  }
}

$font-sizes:map-merge($costum-font-size , $font-sizes );
$theme-colors:map-merge($custom-theme-colors,$theme-colors);
@import '../../node_modules/bootstrap/scss/bootstrap';

